// Billpay Index Template
html
  head
    title Billpay
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    script(src="js/jquery.backstretch.min.js")

  body
    nav(class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top main-nav")
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
        span(class="navbar-toggler-icon")
      div(class="mx-auto")
        a(class="navbar-brand" href="/") SFG Banking
      div(class="collapse navbar-collapse" id="collapsibleNavbar")
        ul(class="nav navbar-nav flex-fill justify-content-center")
          li(class="nav-item")
            a(class="nav-link" href="/dashboard") Dashboard
          li(class="nav-item")
            a(class="nav-link" href="./deposit") Make deposit
          li(class="nav-item")
            a(class="nav-link" href="./transfer") Transfer
          li(class="nav-item")
            a(class="nav-link" href="./settings") Setting
          li(class="nav-item")
            a(class="nav-link" href="/find-atm") Find nearest ATM
          li(class="nav-item")
            a(class="nav-link" href="../sign-out") Sign Out
    br

    <div class="container" style="margin-top:80px"></div>

    div(class="container" style="margin-top:80px")
      div(class="row")
        div(class="col-sm-4")
        div(class="col-sm-4" style="background-color:AliceBlue; border-radius: 8px; padding-top:20px; padding-right:50px; padding-bottom:30px; padding-left:50px;")
          h2(class="text-center") Pay bill
          br
          if !checkingAccount && !savingAccount &&! creditAccount
            p Pay bill function is unavailable due to unavailable account information.
            p Please open a new account or contact for help. 
          else
            h5(class="text-center") Dear customer, you can pay your bill here. 
          form(method="post")
            div(class="text-center") #{error}
            fieldset(class="form-group") 
              p Please enter the bill number:
              div(class="form-group")
                <input type="text" name="billnumber">
              br

              p Please choose a account you want to pay the bill with
              div(class="form-group")
                if checkingAccount
                  input(type="radio" name="paywith" value=`${checkingAccount._id}` checked) 
                  |  Checking Account
                  br
                  p Balance: $#{checkingAccount.balance} 
                if savingAccount
                  input(type="radio" name="paywith" value=`${savingAccount._id}`)
                  |  Saving Account
                  br
                  p Balance: $#{savingAccount.balance}
                if creditAccount
                  input(type="radio" name="paywith" value=`${creditAccount._id}`)
                  |  Credit Account
                  br
                  p Balance: $#{creditAccount.balance}
                  <br>

              p Please enter the amount: 
              div(class="form-group")
                <input type="number" name="payamount" min="1"><br>
              
              p Please add a note:
              div(class="form-group")
                <input type="text" name="paynote" ><br>
                <br>
                <input type="hidden" name="type" value="instant">
              button(type="submit" class="btn btn-primary btn-block" value="Submit") Submit
          br
          br
          br
          h5(class="text-center") Dear customer, you can schedule a payment here. 
          form(method="post")
            div(class="text-center") #{error}
            fieldset(class="form-group") 
              p Please enter the bill number:
              div(class="form-group")
                <input type="text" name="billnumber">
              br

              p Please choose a account you want to pay the bill with
              div(class="form-group")
                if checkingAccount
                  input(type="radio" name="paywith" value=`${checkingAccount._id}` checked) 
                  |  Checking Account
                  br
                  p Balance: $#{checkingAccount.balance} 
                if savingAccount
                  input(type="radio" name="paywith" value=`${savingAccount._id}`)
                  |  Saving Account
                  br
                  p Balance: $#{savingAccount.balance}
                if creditAccount
                  input(type="radio" name="paywith" value=`${creditAccount._id}`)
                  |  Credit Account
                  br
                  p Balance: $#{creditAccount.balance}
                  <br>

              p Please enter the amount: 
              div(class="form-group")
                <input type="number" name="payamount" min="1"><br>
              
              p Please enter the month:
              div(class="form-group")
                <input type="number" name="month" min="1" max="12"><br>

              p Please enter the day:
              div(class="form-group")
                <input type="number" name="day" min="1" max="31"><br>

              p Please enter the year:
              div(class="form-group")
                input(type="number" name="year" min=`${(new Date(Date.now())).getFullYear()}`)

              p Please add a note:
              div(class="form-group")
                <input type="text" name="paynote" ><br>
                <br>
                <input type="hidden" name="type" value="scheduled">
              button(type="submit" class="btn btn-primary btn-block" value="Submit") Submit
          br
          br


          br
          br
          p
            a(href="/dashboard") Return to Dashboard
            br
            br
            a(href="../sign-out") Sign Out
        div(class="col-sm-4")