//Deposit Template
doctype html
html(lang="en")

head
	title Deposit
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
	script(src="js/jquery.backstretch.min.js")
	//script(src="js/depositATM.js") 
		
body

	nav(class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top main-nav")
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
			span(class="navbar-toggler-icon")
		div(class="mx-auto")
			a(class="navbar-brand" href="/") SFG Banking
		div(class="collapse navbar-collapse" id="collapsibleNavbar")
			ul(class="nav navbar-nav flex-fill justify-content-center")
				li(class="nav-item")
					a(class="nav-link" href="/dashboard") Dashboard
				li(class="nav-item")
					a(class="nav-link" href="./transfer") Transfer
				li(class="nav-item")
					a(class="nav-link" href="./billpay") Pay bill
				li(class="nav-item")
					a(class="nav-link" href="./settings") Setting
				li(class="nav-item")
					a(class="nav-link" href="/find-atm") Find nearest ATM
				li(class="nav-item")
					a(class="nav-link" href="../sign-out") Sign Out
	br
	
	div(class="container" style="margin-top:80px")
		div(class="row")
			div(class="col-sm-4")
			div(class="col-sm-4" style="background-color:AliceBlue; border-radius: 8px; padding-top:20px; padding-right:50px; padding-bottom:30px; padding-left:50px;")
				h2(class="text-center") Deposit
		
				form(method="post")
					div(class="text-center") #{error}
					fieldset(class="form-group") 
						legend(class="col-form-legend col-sm-10") Deposit Type
						div(class="form-check")
							label(class="form-check-label")
								<input class="form-check-input" type="radio" role="button" data-toggle="collapse.show" data-target=".multi-collapse" aria-expanded="true" aria-controls="collapseRouting collapseAccount collapseBackImg" name="type" id="deposit-check" value="check" checked> Check
						div(class="form-check")
							label(class="form-check-label")
								<input class="form-check-input" type="radio" role="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="collapseRouting collapseAccount collapseBackImg" name="type" id="deposit-atm" value="ATM"> ATM
					fieldset(class="form-group")
						legend(class="col-form-legend col-sm-10") Deposit To
						div(class="form-check")
							label(class="form-check-label")
								<input class="form-check-input" type="radio" name="deposit-to" value="#{checkingAccount._id}" id="deposit-checking" value="checking" checked> Checking ($#{checkingAccount.balance})
							if savingAccount
								label(class="form-check-label")
									<input class="form-check-input" type="radio" name="deposit-to" value="#{savingAccount._id}" id="deposit-saving"> Saving ($#{savingAccount.balance})
					div(class="collapse show multi-collapse" id="collapseRouting")
						div(class="form-group")
							label(for="routing") Routing #
							input(type="text" class="form-control" name="routing" id="routing" placeholder="Routing #")
					//div(class="collapse show multi-collapse" id="collapseAccount")
						div(class="form-group")
							label(for="account-number") Account #
							input(type="text" class="form-control" name="account-number" id="account-number" placeholder="Account #")
					div(class="form-group")
						label(for="amount") Amount
						input(type="text" class="form-control" name="amount" id="amount" placeholder="Amount")
					div(class="form-group")
						label(for="img-front") Front Image
						input(type="file" class="form-control" name="img-front" id="img-front")
					div(class="collapse show multi-collapse" id="collapseBackImg")
						div(class="form-group")
							label(for="img-back") Back Image
							input(type="file" class="form-control" name="img-back" id="img-back")
					button(type="submit" class="btn btn-primary btn-block" value="Submit") Submit
			div(class="col-sm-4")

		<br><br>
		p
		a(href="/dashboard") Return to Dashboard
		
		br

		p
		a(href="../sign-out") Sign Out
	